*{
    padding: 0;
    margin: 0;
}

.heros{
    
    background-color: rgb(102, 58, 9);
    height: 100vh;
    width: 100vw;
}



.hero1{ 
    background-color: rgb(122, 233, 11);
    height: 8vh;
    align-items: center;
    justify-content:space-between;
    display: flex;

}

.LOGO{
    
    font-size: 45px;
    background-color: hotpink;
    margin: 20px;
    
}
.LOGO a{
    text-decoration:none ;

}
.hero1_child{
    align-items: center;
    justify-content:space-between ;
    display: flex;
    gap: 90px;
    margin: 100px;
    background-color: rgb(235, 130, 179);
    font-size: 30px;
    }

.hero1_child a{
    text-decoration:none ;

}




.hero2{
    background-color: aqua;
    height: 68vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.tentang{
    background-color: blue;
    height: 68vh;
    width: 50vw;
}
.isi{
    margin: 200px;
}
.poto{
    height: 68vh;
    width:50vw;
    background-color: rgba(100, 149, 237, 0.8);
}

.tentang .isi h1{
    font-size: 35px;
    
}
.tentang .isi p{
    font-size: 15px;
   
}


.hero3{
    background-color: rgb(3, 235, 235);
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero3 p{
    font-size: 27px;
}



.hero4{
    background-color: salmon;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:120px;
    font-size: 30px;
    font-weight: 200;
}
img{
    height: auto;
    width: 70px;
    
   
}



.img1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.img2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}.img3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}.img4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}


.hero5{
    background-color: rgb(3, 235, 235);
    height: 4vh;
}


.hero6{
    background-color: rgb(255, 0, 212);
    height:4vh ;
    gap: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.hero6 a{
    text-decoration:none;
}